<section class="mx-8">
  <div class="hero-content flex-col lg:flex-row">
    <h1 class="text-5xl font-bold">{{ country().name }}</h1>
    <img [src]="country().flagSvg" [alt]="country().name" class="w-24" />
  </div>

  <div class="stats bg-base-100 border border-base-300">
    <!-- Nombre oficial -->
    <div class="stat">
      <div class="stat-title">Nombre oficial</div>
      <div class="stat-value">{{ country().officialName }}</div>
    </div>
    <!-- Capital -->
    <div class="stat">
      <div class="stat-title">Capital</div>
      <div class="stat-value">{{ country().capital }}</div>
    </div>
    <!-- Población -->
    <div class="stat">
      <div class="stat-title">Población</div>
      <div class="stat-value">{{ country().population | number }}</div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="flex w-full">
    <!-- Idiomas -->
    <div class="card bg-base-300 rounded-box grid grow place-items-center">
      <h1 class="text-xl">Idiomas</h1>
      <ul class="list text-2xl">
        @for(language of country().languages; track language) {
        <li class="list-row">{{ language }}</li>
        }
      </ul>
    </div>
    <div class="divider divider-horizontal"></div>
    <!-- Emblema -->
    <div class="card bg-base-300 rounded-box grid grow place-items-center">
      <h1 class="text-xl">Emblema</h1>
      <img
        [src]="country().coatOfArmsSvg"
        [alt]="country().name"
        class="h-24"
      />
    </div>
    <div class="divider divider-horizontal"></div>
    <!-- Gini -->
    <div class="card bg-base-300 grid grow place-items-center p-4">
      <h1 class="text-xl pb-2">Gini</h1>
      <div
        class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100"
      >
        <table class="table">
          <thead>
            <tr>
              <th>Año</th>
              <th>Gini</th>
            </tr>
          </thead>
          <tbody>
            @for(key of giniEntries; track $index) {
            <tr>
              <td>{{ key[0] }}</td>
              <td>{{ key[1] }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="stats bg-base-100 border border-base-300">
    <!-- Mapa -->
    <div class="stat">
      <div class="stat-title">Mapa</div>
      <google-map
        [center]="{ lat: country().latlng[0], lng: country().latlng[1] }"
        [zoom]="3.5"
        [options]="{ draggable: false, disableDefaultUI: true }"
      />
    </div>
  </div>

  <div class="m-4"></div>
</section>
